# FOLDERS ======================================================================

node_modules/
dist/
.ignore/
.turbo/
.claude/
.git/
docs/
completions/

# FILES ========================================================================

.env.e2e
CLAUDE.md
