# FOLDERS ======================================================================

node_modules/
dist/
.ignore/
.turbo/
.claude/
.git/

# FILES ========================================================================

.env.e2e
CLAUDE.md
